BasedOnStyle:                    LLVM
AlignConsecutiveAssignments:     true
AlignConsecutiveDeclarations:    true
AccessModifierOffset:            -4
AlwaysBreakTemplateDeclarations: true
BinPackArguments:                true
BinPackParameters:               true
BreakStringLiterals:             true
ColumnLimit:                     72
ContinuationIndentWidth:         2
Cpp11BracedListStyle:            false
IndentCaseLabels:                false
IndentWidth:                     4
Language:                        Cpp
NamespaceIndentation:            All
PenaltyBreakAssignment:          100
PointerAlignment:                Left
ReflowComments:                  true
SortIncludes:                    true
SpacesInContainerLiterals:       true
Standard:                        Auto
UseTab:                          ForIndentation
